.container {
  min-height: 50rem;

  @media only screen and (max-width: $bp-largest) {
    margin: 0;
    max-width: 100%;
    width: 100%;
  }
}

.header {
  height: 5rem;
  background-color: $grey-color;
}

.content {
  display: flex;

  .left {
    margin-top: 1rem;
    margin-right: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 0 0;
    display: flex;
  }
  .right {
    background-color: $red-color;
    content: '';
    flex: 0.2 0 0;
  }
}

.details {
  display: flex;
  margin-top: 1rem;
  margin-left: 1rem;
  flex: 1 1 auto;
  width: 100%;

  .date {
    flex: 1 0 auto;
  }

  .circle {
    flex: 1 0 auto;
    background-color: $grey-color;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    margin-top: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
  }

  .circle:first-child {
    margin-top: 0;
  }

  .circle::before {
    border: 2px solid black;
    display: block;
    left: 50%;
    position: absolute;
    content: '';

    height: 11rem;
    top: -11.2rem;
  }

  .card {
    display: flex;
    flex-flow: column;
    margin-right: 1rem;

    .paragraph {
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .box {
      background-color: $grey-color;
      align-self: flex-end;
      width: 12rem;
      height: 2.5rem;
      flex: 1 0 auto;
    }
  }

  .card.details:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.details:not(:last-of-type) {
  margin-bottom: 1rem;
}

.details:first-child .circle::before {
  display: none;
}
